body {
    margin: 0;
}

header {
    box-align: center;
    background-color: blue; 
}

h1 {
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}

h2 {
    text-align: center;
    color: black;
    background-color: blue;
    margin: 0px;
    padding: 5px;
    font-family: 'Crimson Text', serif;
}

h3 {
    color: black;
    margin: 10px;
    padding: 0px;
    font-family: 'Slabo 27px', serif;
}

.wrapper {
   padding: 2px;
   max-width: 960px;
   width: 95%;
   margin: 20px auto;
  }
 
  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
  }

  .column {
    flex: 1;
    border: 1px solid gray;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    
  }
  
  header {
    padding: 0 15px;
  }
 
  @media screen and (max-width: 600px) {
      .columns .column {
          margin-bottom: 5px;
          flex-basis: 40%;
          margin-right: 0;
          margin: 0;
      }
  }