h1 {
    text-align: center;
}

.grid picture {
    display: grid;
    justify-content: center;
    padding: 5px;
    grid-template-columns: (300px,1fr);
}

img {
    filter: blur(0em);
    transition: filter 4s;
    border: 1px blaxk;
}

img[data-src] {
    filter: blur(0.4em);
}