@media only screen and (min-width: 32.5em) {
	
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: black;
	}
	header img {
		width: 150px;
	}

	.headings h1 {
		font-size: 3rem;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}
	body {
		background-color: white;
		padding: 0;
		margin: 0;
	}
	
	header {
		background-color: peachpuff;
		padding: 5px 0;
		display: flex;
		align-content: center;
		justify-content: center;
	}
	
	header, footer {
	  text-align: center;
	  color: black;
	  padding: 0.5em;
	}
	
	.headings {
		display: flex;
		flex-direction: column;
	}
	
	.headings h1 {
		font-size: 1.2rem;
		margin: 0 0 0 17px;
	}
	
	nav {
	  margin: 0 auto;
	   max-width: 900px;
	  background-color: pink;
	}
	
	.navigation a {
	display: block;
	color: #000000;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	}
	.navigation a:hover {
	color: #000;
	background-color: #fffff0;
	font-weight: 700;
	}
	
	nav ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: pink;
	}
	
	nav li a {
	  display: block;
	  text-decoration: none;
	  text-align: center;
	  padding: 0.5em 2em 0.5em 2em ;
	  color: black;
	  font-family: Baloo Bhai;
	}
	nav li a:hover {
	  background-color: #fffff0;
	  color: black;
	}
	
	.responsive li {
	display: block;
	}
	
	.m {
		font-style: italic;
		letter-spacing: 1pt;
		color: #fffff0;
		margin-left: 20px;
		font-size: .9rem;
	}
	
	.contentbox {
		display: block;
		margin: 10px auto;
		border: 1px dashed black;
		padding: 15px;
		color: palevioletred;
		font-style: italic;
	}
	
	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: peachpuff;
		text-align: center;
		padding: 10px;
	}
	p {
	  font-family: 'Open Sans', sans-serif;
	}
}
  