@media only screen and (min-width: 64rem) {

    header {
		height: 160px;
	}

	header img {
		height: 140px;
		width: 140px;
		margin: auto;
	  }

	nav {
		padding: 10px 16px;
	}

	main section {
		margin: auto;
	}

	footer, main {
		width: 920px;
		margin: auto;
	}

	form label.top input, form label.top select {
		max-width: 30rem;
	}
	
	#thanksmsg{
		font-size: 24px;
	}

	div.towns {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    div.towns div {
        display: block;
        padding: 0;
    }
    div.towns div:hover {
        box-shadow: 0px 0px 10px 5px palevioletred;
    
    }
    div.towns div img {
        max-width: 100%;
    }
}