@media only screen and (min-width: 40rem) {
	
header img {
	height: 120px;
	width: 120px;
	margin: auto;
}

.pureNav{
	display:flex;
	
}
.pureNav li:first-child{
	display:none;
}
.pureNav li {
	display:block;
	flex:1 1 100%;
}

#banner {
	display: none;
	background-color: bisque;
	line-height: 30px;
	font-size: 18px;
}

section.homes {flex-direction: row;}
    section article {
        margin-top:2%;
        margin-bottom:2%;
        margin-left:1%;
        margin-right:1%;
    
	}
	
    div.towns {
        display: block;
    }
    div.towns div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        padding: 10px;
    }
    div.towns div:nth-child(odd){
        flex-direction: row-reverse;
    }
    div.towns div section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.towns div img {
        margin: 0;
		max-width: 50%;
		height: 20rem;
    }