@media only screen and (min-width: 70rem) {
    .headerimg {
        height: 500px;
    }

/* nav bar */
    nav {
        padding: 4px;
    } 

/* div */
    section {
        width: 75%;
    }

/* adventures */
    div.adventures {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    div.adventures section {
        display: block;
    }

    div.adventures img {
        max-width: 100%;
    }
}