@media only screen and (min-width: 41rem) {
.headerimg {
    height: 400px;
}

    /* nav bar */
    nav {
        padding: 2px;
    }
   .pureNav {
       display: flex;
   }

    .pureNav li:first-child{
        display:none;
    }
    .pureNav li {
        display: block;
        flex: 1;
    }

    /* main */
    section {
        width: 85%
    }

    /* contact */
    .contact {
        flex-direction: row;
        height: 250px;
        max-width: 920px;
        margin: auto;
    }
    
    .contact > div {
        margin-right: 7px;
    }
    
    .map {
        display: block;
        float: left;
        width: 37%;
    } 

    /* adventures */
    div.adventures {
        display: block;
    }

    div.adventures section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-content: space-around;
        align-items: center;
    }

    div.adventures div {
        flex-flow: wrap;
        padding: 12px;
    }

    div.adventures section:nth-child(odd){
        flex-direction: row-reverse;
    }
    
    div.adventures img {
        margin: 0;
		max-width: 50%;
		height: 20rem;
    } 

    /* river guide */
    div.riverguide {
        display: block;
    }

    div.riverguide div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-content: space-around;
        align-items: center;
    }

    div.riverguide section {
        flex-flow: wrap;
        padding: 12px;
    }

    div.riverguide div:nth-child(odd){
        flex-direction: row-reverse;
    }
    
    div.riverguide img {
        margin: 0;
		max-width: 50%;
        height: 20rem;
        border: 2px solid #715858;
    }
}