/* Main Body */
body {
    background-color: #715858;
    margin: 0;
    padding: 0;
}

/* header */
.headerimg {
    width: 100%;
    height: 300px;
    margin: 0;
}

/* nav bar */
nav {
    margin: auto;
    background-color: #93B093;
    border: 2px solid black;
}

.pureNav {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pureNav a {
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 5px;
}

.pureNav li {
    display: none;
}

.pureNav li:first-child {
    display: block;
}

.responsive li {
    display: block;
}

nav a:hover {
    background-color: #EDF9E3;
}

.active {
    background-color: #A57272;
}

/* main */
section {
    background-color: #EDF9E3;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    width: 95%;
}

section a {
    color: #A57272;
    text-decoration: none;
}

section a:hover {
    background-color: #715858;
    color: #b7e1aa;
}

/* Adventures */
    div.adventures {
    display: grid;
  }
  
  div.adventures img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-top: .5rem;
  }

/* River Guide */
div.riverguide {
  display: grid;
}

div.riverguide div {
  background-color: #A57272;
  border: 5px solid #A57272;
  margin: 12px;
}

div.riverguide div img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  margin-top: .5rem;
}
  
/* Weather Info */
   .bodypic {
     width: 100%;
   }

.weatherinfo {
    top: 20px;
    left: 30px;
    border: 1px solid black;
    background-color: #b7e1aa;
    padding: 10px 7px 10px 7px;
  }

  .weather div {
    display: block;
  }
  
  .weatherhead {
    text-align: center;
    grid-column: 1 / span 2;
  }
  
  .brace {
    text-align: center;
    color: black;
    margin: 2px;
  } 

/* Contact Form */
.contactform {
  box-sizing: border-box;
  position: relative;
}

.contactform p {
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: 0;
  border-bottom: 2px solid #715858;
  border-top: 2px solid #715858;
}

button {
  padding: 8px 12px;
  margin: auto;
  border: 2px solid #715858;
  color: #A57272;
  background-color: #b7e1aa;
  transition: all .3s;
}

button:hover {
  background-color: #A57272;
  color: #b7e1aa;
}

/* Contact Info */
.contact {
  background-color: #EDF9E3;
}
  .contact img {
    height: 16px;
    margin: 0 3px;
  }
  
  iframe {
    width: 300px; 
    height: 250px;
    border: 0;
  }
  
  .map {
  display: none;
  }

/* Reservation */

/* footer */
footer {
     background-color: #93B093;
     border: 2px solid black;
}