/* Main Body */
body {
    background-color: #715858;
    margin: 0;
    padding: 0;
}

/* header */
.headerimg {
    width: 100%;
    height: 300px;
    margin: 0;
}

/* nav bar */
nav {
    margin: auto;
    background-color: #93B093;
    border: 2px solid black;
}

.pureNav {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pureNav a {
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 5px;
}

.pureNav li {
    display: none;
}

.pureNav li:first-child {
    display: block;
}

.responsive li {
    display: block;
}

nav a:hover {
    background-color: #EDF9E3;
}

.active {
    background-color: #A57272;
}

/* main */
section {
    background-color: white;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    width: 95%;
}

section a {
    color: #A57272;
    text-decoration: none;
}

section a:hover {
    background-color: #715858;
    color: #b7e1aa;
}

/* adventures */
    div.adventures {
    display: grid;
  }
  
  div.adventures img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-top: .5rem;
  }
  
/* Weather Info */
   .bodypic {
     width: 100%;
   }

.weatherinfo {
    top: 20px;
    left: 30px;
    border: 1px solid black;
    background-color: #b7e1aa;
    padding: 10px 7px 10px 7px;
  }

  .weather div {
    display: block;
  }
  
  .weatherhead {
    text-align: center;
    grid-column: 1 / span 2;
  }
  
  .brace {
    text-align: center;
    color: black;
    margin: 2px;
  } 

/* Contact Info */
  .contact img {
    height: 16px;
    margin: 0 3px;
  }
  
  iframe {
    width: 300px; 
    height: 250px;
    border: 0;
  }
  
  .map {
  display: none;
  }

/* footer */
footer {
     background-color: #93B093;
     border: 2px solid black;
}